<!DOCTYPE html>
<html lang="en">
<head>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>NEWS24</title>
</head>
<body>
     {% include 'navbar.html' %}



     

     
     
<section id="main">
    
    <div class = "head">TODAY'S TOP HEADLINES</div>
    {% for title,desc,img,p_date,url in contents %}
    <div  class="wrapper">
    
        <div class="item"><a href="{{url}}"><img src="{{img}}"></a></div>
        <div class = "c-box">
        <div class="content"><a href="{{url}}"><h2>{{title}}</h2></a></div>
        <div class="content"><a href="{{url}}"><p>{{desc}}</p></a></div>
        <div class="content"><p style="color:rgb(18, 18, 18)">Publish Date:- </p><p>{{p_date}}</p></div>
        </div>
        </div>
     
    {% endfor %}  
    
    
</section>




</body>
</html>
